<div class="item">

  <h2 *ngIf="item && item.name">{{item.name}}</h2>
  <h2 *ngIf="item && item.title">{{item.title}}</h2>

  <mat-card>
    <table>
      <tbody>
        <tr *ngFor="let prop of item | keyvalue">
          <ng-container *ngIf="IsUrlsProperty(prop.key); else normalProp">
            <td>{{prop.key | removeUnderscore | titlecase }}:</td>&nbsp;<td>{{prop.value}}</td>
            <br>
            <br>
          </ng-container>

          <ng-template #normalProp>
            <ng-container *ngIf="!IsHiddenField(prop.key)">
              <td>{{prop.key | removeUnderscore | titlecase }}:</td>&nbsp;<td>{{prop.value}}</td>
              <br>
              <br>
            </ng-container>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </mat-card>

</div>
