<div class="item">

  <h2 *ngIf="item && item.name">{{item.name}}</h2>
  <h2 *ngIf="item && item.title">{{item.title}}</h2>

  <mat-card>
    <table>
      <tbody>
        <tr *ngFor="let elem of item | keyvalue">
          <ng-container *ngIf="IsUrlsProperty(elem.key); else normalItem">
            <td>{{elem.key}}:</td>&nbsp;
            <td>
              <div *ngFor="let child of elem.value">
                <span *ngIf="child && child.name">{{child.name}}</span>
                <span *ngIf="child && child.title">{{child.title}}</span>
              </div>
            </td>
          </ng-container>

          <ng-template #normalItem>
            <td>{{elem.key}}:</td>&nbsp;<td>{{elem.value}}</td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </mat-card>

</div>
