:host .categories {
    margin: 40px auto 0;

    display: block;
    text-align: center;
    font-weight: bold;
}

:host .categories mat-card {
    margin: 0 15px 10px;
}

:host .categories mat-card:hover {
    background-color: #d4d4d4;
}

:host .categories mat-card a {
    text-decoration: none;
    cursor: pointer;
}

:host .categories mat-card a:link, :host .categories mat-card a:visited {
    color: black;
}

:host .categories mat-card a:hover {
    color: gold;
}
