
<div class="list">

  <h2>{{category | uppercase}}</h2>

  <mat-card *ngFor="let item of items" (click)="goToItem(item.url)">
    <span *ngIf="item && item['name']"><a>{{item.name | uppercase}}</a></span>
    <span *ngIf="item && item['title']"><a>{{item.title | uppercase}}</a></span>
  </mat-card>

  
  <div class="buttons">
    <button *ngIf="list && list['previous']" mat-raised-button color="accent" (click)="goToPage(list['previous'])">PREV</button>
    <div></div>
    <button *ngIf="list && list['next']" mat-raised-button color="accent" (click)="goToPage(list['next'])">NEXT</button>
  </div>

</div>
